/* General styles for the page */
body {
  background-color: black;
  /* This was just to test if CSS was working */
}

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: orange;
}

h2 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 28px;
  font-weight: 800;
  color: white;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("../images/code3.jpg");
  color: lime;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.description {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 800;
  color: orange;
  text-align: center;
  /* Centers the text horizontally */
  margin-left: auto;
  /* Ensure automatic left margin */
  margin-right: auto;
  /* Ensure automatic right margin */
}


/* Hover and active states for buttons */
.button:hover {
  background-color: whitesmoke;
  /* Change to yellow on hover */
  color: #000;
  /* Change text color on hover */
}

.button:active {
  background-color: #1f69c9;
  /* Change to blue when clicked */
  box-shadow: none;
  /* Remove shadow on click */
}

/* Container for project links */
.project__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the items horizontally */
  margin-bottom: 20px;
  width: 100%;
  /* Make sure the container takes full width */
}

/* Button and link styling */
.button {
  display: inline-block;
  background-color: turquoise;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  /* Margin between button and link */
}

.link {
  color: greenyellow;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  /* Space below each link */
}

.link:hover {
  text-decoration: underline;
  color: lightgreen;
}