.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-image: url('../images/markus-spiske-iar-afB0QQw-unsplash.jpg');
  /* Correct relative path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  /* Adjust text color for better readability */
  text-align: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.description {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: 800;
  /* Make the link bold */
  transition: color 0.3s ease;
}

.portfolio .project {
  margin-bottom: 40px;
}

.page .project a {
  display: inline-block;
  color: #40e0d0 !important;
  /* turquoise color for the normal state */
  text-decoration: none;
  /* Remove underline */
  font-weight: 500;
  /* Make the link bold */
  transition: color 0.3s ease;
  /* Add a smooth transition */
  font-size: large;
}

.page .project a:hover {
  color: #ffcc00 !important;
  /* Ensure hover color works */
  text-decoration: underline;
}